body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  width: max-content;
  width: 220px;
  /* padding: 15px; */
}

.hamburger {
  width: 23px;
  height: 23px;
  padding: 0 5px 0 0;
}

.youtube-icon {
  width: 90px;
  padding: 0 15px;
}

.sidebar div {
  display: flex;
  flex-direction: column;
  padding: 15px;
  /* gap: 5px; */
}

.scnd-part {
  padding-bottom: 10px;
  border-bottom: 2px solid #f2f2f2;
}

.top-part {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  padding: 20px;
}

.items {
  display: flex;
  gap: 20px;
  padding: 10px;
  font-size: 14px;
  /* font-weight: 600; */
  align-items: center;
}

.items:hover {
  background-color: #f2f2f2;
  border-radius: 8px;
  font-weight: 600;
}

.items-main {
  display: flex;
  gap: 20px;
  padding: 10px;
  font-size: 14px;
  /* font-weight: 600; */
  align-items: center;
}

.items img,
.items-main img {
  width: 23px;
  height: 23px;
}

.text-primary {
  color: #543ae3 !important;
}

.selected {
  background-color: #f2f2f2;
  border-radius: 8px;
  font-weight: 600;
}

.thrd-part {
  border-bottom: 2px solid #f2f2f2;
}

.topbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  display: flex;
  /* justify-content:   space-around; */
  align-items: center;
}

.main-part {
  display: flex;
  gap: 20px;
  /* padding-top: 70px; */
}

form {
  width: 40%;
  margin: 0 0 0 40px;
}

.card-img-top {
  /* width: 350px;
  height: 200px; */
  aspect-ratio: 5/6;
  border-radius: 15px;
  padding: 20px;
}

.form-control {
  background-color: #f3f5fc;
  border: none;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 10px;
}

.form-control:focus {
  color: #212529;
  background-color: #f3f5fc;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.heading {
  color: #543ae3;
  font-size: x-large;
  font-weight: 700;
  margin-left: 10px;
}

.videoSrc {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* width: calc(100% - 200px); */
  gap: 20px;
  overflow: scroll;
  height: 100vh;
  padding-bottom: 100px;
}

.card {
  width: 270px;
  gap: 10px;
  border: none;
  position: relative;
}

.like-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
}

.cart img {
  width: 30px;
}

.cart {
  margin: 0 20px 0 auto;
}

.card-text {
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}

.rate {
  background: green;
  padding: 3px 5px;
  font-size: 12px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  margin-right: 5px;
}

.count {
  color: gray;
  font-size: 14px;
}

.price-text {
  font-weight: 600;
  margin-right: 5px;
}

.price-old {
  color: gray;
  text-decoration: line-through;
  font-size: 14px;
}

.loader {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.addToCart {
  background-color: #543ae3;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  width: 100%;
  font-size: 18px;
}

.form-select {
  width: 75px;
}

.cta {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fvrtCout {
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding-top: 2px;
  font-weight: 600;
}

.cartCount {
  position: absolute;
  background: #543ae3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  /* padding-top: 2px; */
  /* font-weight: 600; */
  top: -10px;
  font-size: 12px;
  right: -10px;
}

.cart-cont {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 40%;
  background: white;
  box-shadow: -2px 2px 5px 2px #f2f2f2;
  z-index: 1;
  padding: 15px;
}

.cartItem img {
  aspect-ratio: 5/6;
  width: 100px;
}

.cartItem {
  display: flex;
  gap: 20px;
  padding: 15px;
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.cartItem h4 {
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}


p {
  margin: 0;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  padding-bottom: 130px;
  overflow: scroll;
  height: -webkit-fill-available;
}

.product-detail div {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 70%; */
  justify-content: center;
}

.product-detail {
  display: flex;
  gap: 15px;
  width: calc(100% - 110px);
}
/* 
.btn {
  width: 100%;
} */

.cart-total {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  position: fixed;
  bottom: 0;
  width: inherit;
  right: 0;
  padding: 10px;
  border-top: 2px solid #f2f2f2;
  background: white;
}

.cart-total span {
  color: #543ae3;
  font-size: x-large;
  font-weight: 700;
}

/* .btn-danger {
  width: 85px;
} */

.cartItem p {
  font-weight: 600;
}

.collapsed .items {
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
  padding: 5px;
}

.collapsed {
  width: max-content;
}

.collapsed .thrd-part {
  display: none;
}

.collapsed .scnd-part {
  gap: 5px;
}

.smallCard {
  width: calc(100% / 2 - 10px);
}

.smallCard .addToCart {
  font-size: 14px;
}

.smallCard .quantity {
  width: 100%;
}

.smallCard .price-text {
  flex-direction: column;
  display: flex
}

.smallCard .form-select {
  width: 100%;
  background-position: right 10px center;
}

.smallCard .card-img-top {
  padding: 10px;
}

.smallCard .cta {
  flex-direction: column;
}

.smallCard .like-icon {
  width: 15px;
  height: 15px;
}